body {
  color: #292831;
  background: #f8fAf0;
  font-family: 'Open Sans',Arial,sans-serif;
  margin: 0;
}

code {
  font-size:1.5em;
}

p {
  max-width: 900px;/*easier to read ?*/
  margin-left: 4px;
}

[hidden], template {
  display: none;
}

.tab-holder > article {
  display: none;
  width: 100%;
}

.tab-holder > article:target {
  display:block;
}

.tab-holder > nav > a {
  margin-right: 0.3em;
  text-decoration: none;
  font-size: 1.3rem;
  border-radius: 4px 4px 0 0;
  background: #404255;
  color: #dfdfdf;
}
 
.tab-holder > nav > a:hover,
.tab-holder > nav > a:focus {
  background: #8bb9b4;
  color: #f5f5f5;
}


#main-title {
  margin-top:0;
  margin-bottom:0.5ex;
}


d-htmljsresult {
  border: 1px solid;
  display:block;
}

d-htmljsresult section {
  display: inline-block;
  border: 3px solid;
}
d-htmljsresult * {
  margin-bottom:1px;
  margin-top:1px;
}
