body {
  color: #090404;
  background: #f9fbf0;
  font-family: 'Open Sans',Arial,sans-serif;
  margin: 3px;
}

h1 {
  text-align: center;
}

code {
  font-size: 1.25em;
}

pre > code,
ul > li,
p {
  white-space: pre-wrap;
  /* in case the word makes more than 100% width break it*/
  word-wrap: break-word;
}

p {
  white-space: initial;
  max-width: 900px;/*easier to read ?*/
  margin-left: 4px;
  font-size: 1.05em;
}

main > nav > a {
  display: block;
  margin-left: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  font-size: 1.62em;
  text-decoration: none;
  color: #111177;
  background-color: #eedeee;
}
.nav-ext {
    margin-bottom: 1em;
    color: #1314b9;
}

main > nav > a:hover,
main > nav > a:focus {
  text-decoration:underline;
  color:#eedeee;
  background-color:black;
}

main > article {
  padding: 0.6em;
  border-bottom: 2px solid black;
}

@media screen and (min-width: 960px) {

  main > nav > a {
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: left;
    font-size:1.4em;
  }

  main > nav {
    position: fixed;
    width:16em;
    float:left;
    padding-top: 2.3em;
    margin-right:1em;
  }

  main > article {
    border-left: 2px solid #444;
    margin-left: 16em;
    padding-left: 1.3em;
    padding-right: 1.7em;
  }
}



d-htmljsresult {
  border: 1px solid;
  display: block;
}

/* .htmljsandoutput {
} */

.htmljsandoutput > section {
  display: inline-block;
  max-width: 100%;
  min-height: 150px;
  border: 1px solid;
  vertical-align: top;
}

.htmljsandoutput > section > pre {
    padding: 4px;
}

.htmljsandoutput > section > h4 {
  border: 1px solid;
  text-align: center;
}

d-htmljsresult * {
  margin-bottom:1px;
  margin-top:1px;
}


.user {
    background-color: #6293a6;  /* fallback */
    background-image: linear-gradient(0, #f3a0a0, #427090);
}

.user-picture {
    border-radius: 50%;


}

.user-bio {
    text-indent: 2;
    font-style: italic;
}

.user-contact {

}
