/**/
.yes-no-dialog, body, html {
    height: 100%;
    margin: 0;
}

.yes-no-dialog {
  display: none;
  text-align: center;
}

.yes-no-dialog-text {
    font-size: 23px;
    margin: 0;
    padding: 1em;
}
.yes-no-dialog-button {
    font-size: 23px;
    margin: 1em;
    padding: 0.6em 3em;
}

.yes-no-dialog-input-label {
    font-size: 23px;
    min-width: 80%;
    display: inline-block;
    text-align: right;
}
.yes-no-dialog-input-label + button {
    margin: 1em 0.3em;
}
.yes-no-dialog-input-label > input {
    font-size: 23px;
    margin: 1em 0.3em;
    padding: 0.6em 0.2em;
    min-width: 80%;
}

.yes-no-dialog-active > *:not(.yes-no-dialog) { 
  display: none;
}

.yes-no-dialog-active > .yes-no-dialog {
  display: block;
}
